<div class="footer">
  <div class="container">
  <div class="segment">
    <img src="assets/images/logo2.png" width="100"/>
    <p><span>Manhaj Nabawi menyediakan pembelajaran islam jarak jauh secara gratis. Dengan yang dibawakan oleh asatidz yang mumpuni keilmuannya. Peserta bisa melakukan pembelajaran inten dan mengikuti evaluasi terhadap materi yang telah dipelajari.</span></p>
  </div>
  
  <div class="segment">
    <h3>Manhaj Nabawi</h3>
    <ul class="footer-link">
      <li><a href="#">Tentang Kami</a></li>
      <li><a href="#">Donasi</a></li>
      <li><a href="#">Kebijakan Privasi</a></li>
      <li><a href="#">Syarat & Ketentuan</a></li>
    </ul>
  </div>
  <div class="segment">
    <h3>Kontak Kami</h3>
    <p class="icontext">
      <i class="fas fa-at"></i>
      <span style="margin-left: 5px">info@manhajnabawi.com</span>
    </p>
    
    <p class="icontext">
      <i class="fas fa-phone"></i>
      <span style="margin-left: 5px">+6281319140285</span>
    </p>
    <p class="icontext">
      <i class="fas fa-map-marker-alt"></i>
      <span style="margin-left: 5px">Jl. Wastukencana No. 31, Babakan Ciamis, Sumur Bandung, Kota Bandung, Jawa Barat
        (40171)</span>
    </p>
  </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <span>Copyrights &copy; 2019 <a target="_blank" href="https://agun.buhori.com">Buhori Digital Studio</a></span>
  </div>
</div>