<div class="container">
  <div class="forms">
    <div class="form">
      <h1>Belajar Gratis</h1>
      <p>Manhaj Nabawi memberikan pelayanan gratis kepada masyarakat yang ingin mempelajari agama lebih dalam. Dibimbing oleh para asatidz yang mumpuni keilmuannya dan bidangnya masing-masing. Materi yang disediakan berupa video dan tulisan.</p>
      <h4>Syarat dan Ketentuan :</h4>
      <ul>
        <li>Memiliki niat dan kesungguhan untuk mempelajari ilmu agama;</li>
        <li>Ikhlas dan sabar dalam mengikuti proses belajar sampai selesai;</li>
        <li>Mengikuti kursus yang sesuai dengan tingkat kemampuan;</li>
        <li>Siap mengikuti ujian Evaluasi Hasil Belajar (EHB);</li>
        <li>Memiliki kontak WhatsApp;</li>
        <li>Usia minimal 10 tahun;</li>
        <li>Bagi yang berdomisili di Bandung, bisa tatap muka dengan ustadz.</li>
      </ul>
    </div>
  </div>
</div>